<!-- MAIN -->
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Contacts</h3>
            <div class="row">
                <div class="col-md-11">

                    <div class="panel">
                        <div class="panel-heading">

                            <a href='@Url.Action("AddContact", "Contacts")' class="btn btn-primary">
                                New Contact
                            </a>


                            <div class="card-body">

                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable"  cellspacing="0">
                                        <thead>

                                            <tr>
                                                <th>View / Edit</th>
                                                <th>Category</th>
                                                <th>Name</th>
                                                <th>Primary Occupation</th>
                                                <th>Secondary Occupation</th>
                                                <th>Primary Phone Number</th>
                                                <th>Secondary Phone Number</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Last Spoke</th>
                                                <th>Met</th>
                                                <th>Relationship</th>
                                                <th>Added Contact</th>

                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>View / Edit</th>
                                                <th>Category</th>
                                                <th>Name</th>
                                                <th>Primary Occupation</th>
                                                <th>Secondary Occupation</th>
                                                <th>Primary Phone Number</th>
                                                <th>Secondary Phone Number</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Last Spoke</th>
                                                <th>Met</th>
                                                <th>Relationship</th>
                                                <th>Added Contact</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            @model IEnumerable<MyNetwork.Models.Contact>
                                            @foreach (var item in @Model)
                                            {
                                            <tr>
                                                <th>
                                                    @Html.ActionLink("Select", "ViewContact", "Contacts", new { ContactId = @item.ContactID, @class="btn btn-primary" }, null )
                                                </th>


                                                <td>@item.Category</td>
                                                <td>@item.FirstName @item.LastName </td>
                                                <td>@item.PrimaryOccupation</td>
                                                <td>@item.SecondaryOccupation</td>
                                                <td>@item.PrimaryPhone</td>
                                                <td>@item.SecondaryPhone</td>
                                                <td>@item.Email</td>
                                                <td>@item.PrimaryAddress</td>
                                                <td>@item.LastSpokeToDate</td>
                                                <td>@item.MetLocation</td>
                                                <td>@item.Relationship</td>
                                                <td>@item.AddedContactDate</td>


                                            </tr>
                                            }


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    </div>
</div>
</div>