<!doctype html>
<html lang="en">

<head>
    <title>Elements | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/vendor/linearicons/style.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link rel="stylesheet" href="assets/css/demo.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<style>
    .br-theme-bars-reversed .br-widget a {
        background-color: pink;
    }

        .br-theme-bars-reversed .br-widget a.br-active,
        .br-theme-bars-reversed .br-widget a.br-selected {
            background-color: #ff446a;
        }

    .br-theme-bars-reversed .br-widget .br-current-rating {
        color: #ff446a;
        font-size: 20px;
    }
</style>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <!-- MAIN -->
        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div class="container-fluid">
                    <h3 class="page-title">Add Contact</h3>




                    @using (Html.BeginForm("UpdateContactInfo", "Contacts",new {ContactID = @ViewBag.ContactID}, FormMethod.Post))
                    {
                        <input type="submit" value="Update Contact" class="btn btn-primary">

                       

                        <div class="row">
                            <div class="col-md-6">
                                <br />

                                <!-- BUTTONS -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Profile</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" name="category" placeholder="Category" value="@ViewBag.category">
                                        <br>
                                        <input type="text" class="form-control" name="firstName" placeholder="First Name" value="@ViewBag.firstName" required>
                                        <br>
                                        <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="@ViewBag.lastName">
                                        <br>
                                        <input type="text" class="form-control" name="age" placeholder="Age" value="@ViewBag.age">
                                        <br>
                                        <div class="form-group">

                                            <input type="date" name="birthday" min="1000-01-01"
                                                   max="3000-12-31" class="form-control" value="@ViewBag.birthday">
                                        </div>
                                        <br>
                                        <input type="text" class="form-control" name="primaryPhoneNumber" placeholder="Primary Phone Number" value="@ViewBag.primaryPhoneNumber">
                                        <br>
                                        <input type="text" class="form-control" name="secondaryPhoneNumber" placeholder="Secondary Phone Number" value="@ViewBag.secondaryPhoneNumber">
                                       
                                        <input type="text" class="form-control" name="relationship" placeholder="Relationship" value="@ViewBag.Relationship">
                                        <br>
                                        <input type="text" class="form-control" name="hobbies" placeholder="Hobbies" value="@ViewBag.hobbies">
                                        <br>
                                        <form method="post">
                                            <table id="formTable">
                                                <thead>
                                                    <tr>
                                                        <th>group</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" name="group" /></td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </form>
                                        <br>
                                        Rating: <input type="number" class="rating" id="test" name="rating" data-min="1" data-max="5" value="0">
                                    </div>
                                </div>
                                <!-- END BUTTONS -->
                                <!-- INPUTS -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Social</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" name="linkedInURL" placeholder="LinkedInURL" value="@ViewBag.linkedInURL">
                                        <br>
                                        <input type="text" class="form-control" name="faceBookURL" placeholder="FaceBookURL" value="@ViewBag.faceBookURL">
                                        <br>
                                        <input type="text" class="form-control" name="instagramURL" placeholder="InstagramURL" value="@ViewBag.instagramURL">
                                        <br>
                                        <input type="text" class="form-control" name="twitterURL" placeholder="TwitterURL" value="@ViewBag.twitterURL">
                                        <br>
                                        <input type="text" class="form-control" name="socialGroups" placeholder="Social Groups" value="@ViewBag.socialGroups">

                                    </div>
                                </div>
                                <!-- END INPUTS -->

                            </div>
                            <div class="col-md-6">
                                <!-- LABELS -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Occupation</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" name="primaryOccupation" placeholder="Primary Occupation" value="@ViewBag.primaryOccupation">
                                        <br>
                                        <input type="text" class="form-control" name="secondaryOccupation" placeholder="Secondary Occupation" value="@ViewBag.secondaryOccupation">
                                        <br>
                                        <input type="text" class="form-control" name="companyName" placeholder="Company Name" value="@ViewBag.companyName"> 
                                        <br>
                                        <input type="text" class="form-control" name="companyAddress" placeholder="Company Address" value="@ViewBag.companyAddress">
                                        <br>
                                        <input type="text" class="form-control" name="salaryRange" placeholder="SalaryRange" value="@ViewBag.salaryRange">
                                        <br>
                                        <input type="text" class="form-control" name="skill" placeholder="Skill" value="@ViewBag.skill">
                                        @*<br>
                                        <input type="text" class="form-control" name="businessCardFrontImg" placeholder="Business Card Front Img" value="@ViewBag.socialGroups">
                                        <br>
                                        <input type="text" class="form-control" name="businessCardBackImg" placeholder="Business Card Back Img" value="@ViewBag.socialGroups">*@

                                    </div>
                                </div>
                                <!-- END LABELS -->
                                <!-- PROGRESS BARS -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Peronal</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" name="metLocation" placeholder="Met Location" value="@ViewBag.metLocation">
                                        <br>
                                        <input type="text" class="form-control" name="numberOfYearKnown" placeholder="Number Of Year Known" value="@ViewBag.numberOfYearKnown">
                                        <br>
                                        <input type="text" class="form-control" name="lastSpokeToDate" placeholder="Last Spoke To Date" value="@ViewBag.lastSpokeToDate"> 
                                        <br>
                                        <input type="text" class="form-control" name="personality" placeholder="Personality" value="@ViewBag.personality">
                                        <br>
                                        <input type="text" class="form-control" name="relationshipStatus" placeholder="Relationship Status" value="@ViewBag.relationshipStatus">

                                    </div>
                                </div>
                                <!-- END PROGRESS BARS -->
                                <!-- INPUT GROUPS -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Education</h3>
                                    </div>
                                    <div class="panel-body">
                                        <input type="text" class="form-control" name="inSchool" placeholder="In School" value="@ViewBag.inSchool">
                                        <br>
                                        <input type="text" class="form-control" name="collegeAttened" placeholder="College Attended" value="@ViewBag.collegeAttened">
                                        <br>
                                        <input type="text" class="form-control" name="highSchoolAttened" placeholder="HighSchool Attended" value="@ViewBag.highSchoolAttened">
                                        <br>
                                        <input type="text" class="form-control" name="degree" placeholder="Degree" value="@ViewBag.degree">
                                        <br>
                                        <input type="text" class="form-control" name="personality" placeholder="Personality" value="@ViewBag.personality">

                                    </div>
                                </div>
                                <!-- END INPUT GROUPS -->

                            </div>

                        </div>

                        <input type="submit" value="Add Contact" class="btn btn-primary">
                    }
                </div>
            </div>
            <!-- END MAIN CONTENT -->
        </div>
        <!-- END MAIN -->
        <div class="clearfix"></div>
        <footer>
            <div class="container-fluid">
                <p class="copyright">&copy; 2019 <a href="https://www.userxcel.com" target="_blank">User Xcel</a></p>
            </div>
        </footer>
    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <script src="assets/scripts/klorofil-common.js"></script>
    <script type="text/javascript">
        $(".form_datetime").datetimepicker({
            format: "dd MM yyyy - hh:ii"
        });
    </script>

    <script type="text/javascript">
        var $star_rating = $('.star-rating .fa');

        var SetRatingStar = function () {
            return $star_rating.each(function () {
                if (parseInt($star_rating.siblings('input.rating-value').val()) >= parseInt($(this).data('rating'))) {
                    return $(this).removeClass('fa-star-o').addClass('fa-star');
                } else {
                    return $(this).removeClass('fa-star').addClass('fa-star-o');
                }
            });
        };

        $star_rating.on('click', function () {
            $star_rating.siblings('input.rating-value').val($(this).data('rating'));
            return SetRatingStar();
        });

        SetRatingStar();
        $(document).ready(function () {

        });
    </script>


    <script type="text/javascript">
        (function ($) {

            $.fn.rating = function () {

                var element;

                // A private function to highlight a star corresponding to a given value
                function _paintValue(ratingInput, value) {
                    var selectedStar = $(ratingInput).find('[data-value=' + value + ']');
                    selectedStar.removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    selectedStar.prevAll('[data-value]').removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    selectedStar.nextAll('[data-value]').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                }

                // A private function to remove the selected rating
                function _clearValue(ratingInput) {
                    var self = $(ratingInput);
                    self.find('[data-value]').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                    self.find('.rating-clear').hide();
                    self.find('input').val('').trigger('change');
                }

                // Iterate and transform all selected inputs
                for (element = this.length - 1; element >= 0; element--) {

                    var el, i, ratingInputs,
                        originalInput = $(this[element]),
                        max = originalInput.data('max') || 5,
                        min = originalInput.data('min') || 0,
                        clearable = originalInput.data('clearable') || null,
                        stars = '';

                    // HTML element construction
                    for (i = min; i <= max; i++) {
                        // Create <max> empty stars
                        stars += ['<span class="glyphicon glyphicon-star-empty" data-value="', i, '"></span>'].join('');
                    }
                    // Add a clear link if clearable option is set
                    if (clearable) {
                        stars += [
                            ' <a class="rating-clear" style="display:none;" href="javascript:void">',
                            '<span class="glyphicon glyphicon-remove"></span> ',
                            clearable,
                            '</a>'].join('');
                    }

                    el = [
                        // Rating widget is wrapped inside a div
                        '<div class="rating-input">',
                        stars,
                        // Value will be hold in a hidden input with same name and id than original input so the form will still work
                        '<input type="hidden" name="',
                        originalInput.attr('name'),
                        '" value="',
                        originalInput.val(),
                        '" id="',
                        originalInput.attr('id'),
                        '" />',
                        '</div>'].join('');

                    // Replace original inputs HTML with the new one
                    originalInput.replaceWith(el);

                }

                // Give live to the newly generated widgets
                $('.rating-input')
                    // Highlight stars on hovering
                    .on('mouseenter', '[data-value]', function () {
                        var self = $(this);
                        _paintValue(self.closest('.rating-input'), self.data('value'));
                    })
                    // View current value while mouse is out
                    .on('mouseleave', '[data-value]', function () {
                        var self = $(this);
                        var val = self.siblings('input').val();
                        if (val) {
                            _paintValue(self.closest('.rating-input'), val);
                        } else {
                            _clearValue(self.closest('.rating-input'));
                        }
                    })
                    // Set the selected value to the hidden field
                    .on('click', '[data-value]', function (e) {
                        var self = $(this);
                        var val = self.data('value');
                        self.siblings('input').val(val).trigger('change');
                        self.siblings('.rating-clear').show();
                        e.preventDefault();
                        false
                    })
                    // Remove value on clear
                    .on('click', '.rating-clear', function (e) {
                        _clearValue($(this).closest('.rating-input'));
                        e.preventDefault();
                        false
                    })
                    // Initialize view with default value
                    .each(function () {
                        var val = $(this).find('input').val();
                        if (val) {
                            _paintValue(this, val);
                            $(this).find('.rating-clear').show();
                        }
                    });

            };

            // Auto apply conversion of number fields with class 'rating' into rating-fields
            $(function () {
                if ($('input.rating[type=number]').length > 0) {
                    $('input.rating[type=number]').rating();
                }
            });

        }(jQuery));

    </script>
</body>

</html>
